USE [master]
GO
/****** Object:  Database [AsecordLogin]    Script Date: 29/04/2017 12:39:38 ******/
CREATE DATABASE [AsecordLogin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'aspnet-AsecordLogin-20170423114731.mdf', FILENAME = N'D:\Luis Felipe\Desktop\ITLA\Programacion III\AsecordLogin\AsecordLogin\App_Data\aspnet-AsecordLogin-20170423114731.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'aspnet-AsecordLogin-20170423114731_log.ldf', FILENAME = N'D:\Luis Felipe\Desktop\ITLA\Programacion III\AsecordLogin\AsecordLogin\App_Data\aspnet-AsecordLogin-20170423114731_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AsecordLogin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Login [NT SERVICE\Winmgmt]    Script Date: 29/04/2017 12:39:38 ******/
CREATE LOGIN [NT SERVICE\Winmgmt] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[Español]
GO
/****** Object:  Login [NT SERVICE\SQLWriter]    Script Date: 29/04/2017 12:39:38 ******/
CREATE LOGIN [NT SERVICE\SQLWriter] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[Español]
GO
/****** Object:  Login [NT Service\MSSQL$SQLEXPRESS]    Script Date: 29/04/2017 12:39:38 ******/
CREATE LOGIN [NT Service\MSSQL$SQLEXPRESS] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[Español]
GO
/****** Object:  Login [NT AUTHORITY\SYSTEM]    Script Date: 29/04/2017 12:39:38 ******/
CREATE LOGIN [NT AUTHORITY\SYSTEM] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[Español]
GO
/****** Object:  Login [luisfelipe-PC\luis felipe]    Script Date: 29/04/2017 12:39:38 ******/
CREATE LOGIN [luisfelipe-PC\luis felipe] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[Español]
GO
/****** Object:  Login [BUILTIN\Usuarios]    Script Date: 29/04/2017 12:39:38 ******/
CREATE LOGIN [BUILTIN\Usuarios] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[Español]
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyTsqlExecutionLogin##]    Script Date: 29/04/2017 12:39:38 ******/
CREATE LOGIN [##MS_PolicyTsqlExecutionLogin##] WITH PASSWORD=N'ì0ß°DæÐ7÷ëúej¬aùs32Ó÷±¥', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyTsqlExecutionLogin##] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyEventProcessingLogin##]    Script Date: 29/04/2017 12:39:38 ******/
CREATE LOGIN [##MS_PolicyEventProcessingLogin##] WITH PASSWORD=N'kþ''k	ä>aWp÷(bYpXîu¢{ÝzÄï7;×', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyEventProcessingLogin##] DISABLE
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\Winmgmt]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLWriter]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT Service\MSSQL$SQLEXPRESS]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [luisfelipe-PC\luis felipe]
GO
USE [AsecordLogin]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 29/04/2017 12:39:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 29/04/2017 12:39:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 29/04/2017 12:39:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 29/04/2017 12:39:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 29/04/2017 12:39:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 29/04/2017 12:39:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Citas_consulares]    Script Date: 29/04/2017 12:39:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citas_consulares](
	[CitaID] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [nvarchar](max) NULL,
	[Hora] [nvarchar](max) NULL,
	[Lugar] [nvarchar](max) NULL,
	[Tipo_visa] [nvarchar](max) NULL,
	[UID] [nvarchar](max) NULL,
	[Formulario] [nvarchar](max) NULL,
	[Comentario] [nvarchar](max) NULL,
	[Estatus] [int] NOT NULL,
	[Cliente_CLienteID] [int] NULL,
 CONSTRAINT [PK_dbo.Citas_consulares] PRIMARY KEY CLUSTERED 
(
	[CitaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Citas_locales]    Script Date: 29/04/2017 12:39:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citas_locales](
	[CitaID] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [nvarchar](max) NULL,
	[Hora] [nvarchar](max) NULL,
	[Tipo] [nvarchar](max) NULL,
	[Comentario] [nvarchar](max) NULL,
	[Estatus] [int] NOT NULL,
	[Cliente_CLienteID] [int] NULL,
	[Motivo] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Citas_locales] PRIMARY KEY CLUSTERED 
(
	[CitaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ciudades]    Script Date: 29/04/2017 12:39:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudades](
	[CiudadID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_ciudad] [nvarchar](max) NULL,
	[Provincia_ProvinciaID] [int] NULL,
 CONSTRAINT [PK_dbo.Ciudades] PRIMARY KEY CLUSTERED 
(
	[CiudadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 29/04/2017 12:39:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[CLienteID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Apellido] [nvarchar](max) NULL,
	[Fecha_nacimiento] [nvarchar](max) NULL,
	[Cedula] [nvarchar](max) NULL,
	[Sexo] [nvarchar](max) NULL,
	[Estado_civil] [nvarchar](max) NULL,
	[Direccion] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Fecha_ingreso] [nvarchar](max) NULL,
	[Pasaporte] [nvarchar](max) NULL,
	[Comentario] [nvarchar](max) NULL,
	[Tel_1] [nvarchar](max) NULL,
	[Tel_2] [nvarchar](max) NULL,
	[Tel_3] [nvarchar](max) NULL,
	[Ocupacion] [nvarchar](max) NULL,
	[Empresa_Nombre] [nvarchar](max) NULL,
	[Empresa_Dir] [nvarchar](max) NULL,
	[Empresa_Tel] [nvarchar](max) NULL,
	[Empresa_Labor] [nvarchar](max) NULL,
	[TipoDePago] [nvarchar](max) NULL,
	[Estatus_1] [nvarchar](max) NULL,
	[Estatus_2] [nvarchar](max) NULL,
	[Estatus_3] [nvarchar](max) NULL,
	[Estatus_4] [nvarchar](max) NULL,
	[Estatus_5] [nvarchar](max) NULL,
	[Estatus_6] [nvarchar](max) NULL,
	[Estatus_7] [nvarchar](max) NULL,
	[Estatus_8] [nvarchar](max) NULL,
	[Estatus_9] [nvarchar](max) NULL,
	[Estatus_10] [nvarchar](max) NULL,
	[P1] [nvarchar](max) NULL,
	[P2] [nvarchar](max) NULL,
	[P3] [nvarchar](max) NULL,
	[P4] [nvarchar](max) NULL,
	[P5] [nvarchar](max) NULL,
	[P6] [nvarchar](max) NULL,
	[P7] [nvarchar](max) NULL,
	[P8] [nvarchar](max) NULL,
	[P9] [nvarchar](max) NULL,
	[P10] [nvarchar](max) NULL,
	[Provincia_ProvinciaID] [int] NULL,
	[Ciudad_CiudadID] [int] NULL,
	[Nacionalidad_NacionalidadID] [int] NULL,
	[Sector_SectorID] [int] NULL,
	[Ocupaciones_OcupacionID] [int] NULL,
	[Codigo_DS] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Clientes] PRIMARY KEY CLUSTERED 
(
	[CLienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Nacionalidades]    Script Date: 29/04/2017 12:39:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nacionalidades](
	[NacionalidadID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_nacionalidad] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Nacionalidades] PRIMARY KEY CLUSTERED 
(
	[NacionalidadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ocupaciones]    Script Date: 29/04/2017 12:39:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ocupaciones](
	[OcupacionID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_ocupacion] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Ocupaciones] PRIMARY KEY CLUSTERED 
(
	[OcupacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Provincias]    Script Date: 29/04/2017 12:39:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincias](
	[ProvinciaID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_provincia] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Provincias] PRIMARY KEY CLUSTERED 
(
	[ProvinciaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Recibos]    Script Date: 29/04/2017 12:39:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recibos](
	[ReciboID] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [nvarchar](max) NULL,
	[Concepto] [nvarchar](max) NULL,
	[Valor] [decimal](18, 2) NOT NULL,
	[Forma_pago] [int] NOT NULL,
	[Comentario] [nvarchar](max) NULL,
	[Estatus] [int] NOT NULL,
	[Cliente_CLienteID] [int] NULL,
 CONSTRAINT [PK_dbo.Recibos] PRIMARY KEY CLUSTERED 
(
	[ReciboID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sectores]    Script Date: 29/04/2017 12:39:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sectores](
	[SectorID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_sector] [nvarchar](max) NULL,
	[Ciudad_CiudadID] [int] NULL,
 CONSTRAINT [PK_dbo.Sectores] PRIMARY KEY CLUSTERED 
(
	[SectorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'3', N'Recepcionista')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'Representante')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'132da99d-8c05-47d3-a0d0-c29ee9b3126a', N'aconsularrd@outlook.com', 0, N'ABySzH7g8CjdDxLq2qqaLTQgXspkgb3elrVK5oLyVLpXTmznEo+9r3LOye4T31589Q==', N'7f5ca9f9-4e8f-45f8-bd7f-b3528282df2e', NULL, 0, 0, NULL, 1, 0, N'Mrvisa')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'd359cb6b-470d-4964-9187-8c7f40077508', N'asecordrd@outlook.com', 0, N'AJePe6gtFEzWuE+aVuEQGUhzrkxk39ndK9Ujp+odNkbNaaB0K5vKWprHT+oQlk1R7A==', N'e774f10d-262f-4eba-ae7b-64317cc5230f', NULL, 0, 0, NULL, 1, 0, N'Admin')
SET IDENTITY_INSERT [dbo].[Citas_consulares] ON 

INSERT [dbo].[Citas_consulares] ([CitaID], [Fecha], [Hora], [Lugar], [Tipo_visa], [UID], [Formulario], [Comentario], [Estatus], [Cliente_CLienteID]) VALUES (3, N'10/04/2017', N'04:16 PM', N'EUSA', NULL, NULL, NULL, NULL, 0, 2)
SET IDENTITY_INSERT [dbo].[Citas_consulares] OFF
SET IDENTITY_INSERT [dbo].[Citas_locales] ON 

INSERT [dbo].[Citas_locales] ([CitaID], [Fecha], [Hora], [Tipo], [Comentario], [Estatus], [Cliente_CLienteID], [Motivo]) VALUES (1, N'26/04/2017', N'7:00 AM', NULL, N'ninguno', 0, 1, N'DS-160')
INSERT [dbo].[Citas_locales] ([CitaID], [Fecha], [Hora], [Tipo], [Comentario], [Estatus], [Cliente_CLienteID], [Motivo]) VALUES (2, N'30/04/2017', N'03:28 PM', NULL, N'ninguno', 0, 1, N'Pre-Entrevista')
INSERT [dbo].[Citas_locales] ([CitaID], [Fecha], [Hora], [Tipo], [Comentario], [Estatus], [Cliente_CLienteID], [Motivo]) VALUES (3, N'29/04/2017', N'04:00 PM', NULL, NULL, 0, 2, N'Perfil')
SET IDENTITY_INSERT [dbo].[Citas_locales] OFF
SET IDENTITY_INSERT [dbo].[Clientes] ON 

SET IDENTITY_INSERT [dbo].[Clientes] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 29/04/2017 12:39:38 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 29/04/2017 12:39:38 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 29/04/2017 12:39:38 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 29/04/2017 12:39:38 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 29/04/2017 12:39:38 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 29/04/2017 12:39:38 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cliente_CLienteID]    Script Date: 29/04/2017 12:39:38 ******/
CREATE NONCLUSTERED INDEX [IX_Cliente_CLienteID] ON [dbo].[Citas_consulares]
(
	[Cliente_CLienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cliente_CLienteID]    Script Date: 29/04/2017 12:39:38 ******/
CREATE NONCLUSTERED INDEX [IX_Cliente_CLienteID] ON [dbo].[Citas_locales]
(
	[Cliente_CLienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Provincia_ProvinciaID]    Script Date: 29/04/2017 12:39:38 ******/
CREATE NONCLUSTERED INDEX [IX_Provincia_ProvinciaID] ON [dbo].[Ciudades]
(
	[Provincia_ProvinciaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ciudad_CiudadID]    Script Date: 29/04/2017 12:39:38 ******/
CREATE NONCLUSTERED INDEX [IX_Ciudad_CiudadID] ON [dbo].[Clientes]
(
	[Ciudad_CiudadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Nacionalidad_NacionalidadID]    Script Date: 29/04/2017 12:39:38 ******/
CREATE NONCLUSTERED INDEX [IX_Nacionalidad_NacionalidadID] ON [dbo].[Clientes]
(
	[Nacionalidad_NacionalidadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ocupaciones_OcupacionID]    Script Date: 29/04/2017 12:39:38 ******/
CREATE NONCLUSTERED INDEX [IX_Ocupaciones_OcupacionID] ON [dbo].[Clientes]
(
	[Ocupaciones_OcupacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Provincia_ProvinciaID]    Script Date: 29/04/2017 12:39:38 ******/
CREATE NONCLUSTERED INDEX [IX_Provincia_ProvinciaID] ON [dbo].[Clientes]
(
	[Provincia_ProvinciaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Sector_SectorID]    Script Date: 29/04/2017 12:39:38 ******/
CREATE NONCLUSTERED INDEX [IX_Sector_SectorID] ON [dbo].[Clientes]
(
	[Sector_SectorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cliente_CLienteID]    Script Date: 29/04/2017 12:39:38 ******/
CREATE NONCLUSTERED INDEX [IX_Cliente_CLienteID] ON [dbo].[Recibos]
(
	[Cliente_CLienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ciudad_CiudadID]    Script Date: 29/04/2017 12:39:38 ******/
CREATE NONCLUSTERED INDEX [IX_Ciudad_CiudadID] ON [dbo].[Sectores]
(
	[Ciudad_CiudadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Citas_consulares]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Citas_consulares_dbo.Clientes_Cliente_CLienteID] FOREIGN KEY([Cliente_CLienteID])
REFERENCES [dbo].[Clientes] ([CLienteID])
GO
ALTER TABLE [dbo].[Citas_consulares] CHECK CONSTRAINT [FK_dbo.Citas_consulares_dbo.Clientes_Cliente_CLienteID]
GO
ALTER TABLE [dbo].[Citas_locales]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Citas_locales_dbo.Clientes_Cliente_CLienteID] FOREIGN KEY([Cliente_CLienteID])
REFERENCES [dbo].[Clientes] ([CLienteID])
GO
ALTER TABLE [dbo].[Citas_locales] CHECK CONSTRAINT [FK_dbo.Citas_locales_dbo.Clientes_Cliente_CLienteID]
GO
ALTER TABLE [dbo].[Ciudades]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ciudades_dbo.Provincias_Provincia_ProvinciaID] FOREIGN KEY([Provincia_ProvinciaID])
REFERENCES [dbo].[Provincias] ([ProvinciaID])
GO
ALTER TABLE [dbo].[Ciudades] CHECK CONSTRAINT [FK_dbo.Ciudades_dbo.Provincias_Provincia_ProvinciaID]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Clientes_dbo.Ciudades_Ciudad_CiudadID] FOREIGN KEY([Ciudad_CiudadID])
REFERENCES [dbo].[Ciudades] ([CiudadID])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_dbo.Clientes_dbo.Ciudades_Ciudad_CiudadID]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Clientes_dbo.Nacionalidades_Nacionalidad_NacionalidadID] FOREIGN KEY([Nacionalidad_NacionalidadID])
REFERENCES [dbo].[Nacionalidades] ([NacionalidadID])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_dbo.Clientes_dbo.Nacionalidades_Nacionalidad_NacionalidadID]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Clientes_dbo.Ocupaciones_Ocupaciones_OcupacionID] FOREIGN KEY([Ocupaciones_OcupacionID])
REFERENCES [dbo].[Ocupaciones] ([OcupacionID])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_dbo.Clientes_dbo.Ocupaciones_Ocupaciones_OcupacionID]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Clientes_dbo.Provincias_Provincia_ProvinciaID] FOREIGN KEY([Provincia_ProvinciaID])
REFERENCES [dbo].[Provincias] ([ProvinciaID])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_dbo.Clientes_dbo.Provincias_Provincia_ProvinciaID]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Clientes_dbo.Sectores_Sector_SectorID] FOREIGN KEY([Sector_SectorID])
REFERENCES [dbo].[Sectores] ([SectorID])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_dbo.Clientes_dbo.Sectores_Sector_SectorID]
GO
ALTER TABLE [dbo].[Recibos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Recibos_dbo.Clientes_Cliente_CLienteID] FOREIGN KEY([Cliente_CLienteID])
REFERENCES [dbo].[Clientes] ([CLienteID])
GO
ALTER TABLE [dbo].[Recibos] CHECK CONSTRAINT [FK_dbo.Recibos_dbo.Clientes_Cliente_CLienteID]
GO
ALTER TABLE [dbo].[Sectores]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Sectores_dbo.Ciudades_Ciudad_CiudadID] FOREIGN KEY([Ciudad_CiudadID])
REFERENCES [dbo].[Ciudades] ([CiudadID])
GO
ALTER TABLE [dbo].[Sectores] CHECK CONSTRAINT [FK_dbo.Sectores_dbo.Ciudades_Ciudad_CiudadID]
GO
USE [master]
GO
