@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Asesoria Consular RD</h1>
    <i style="font-size:20px">¡Tu experiencia de volar comienza con nosotros!</i>
    <hr />
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    <div>
        <img class="" style="margin-left:20%" src="~/Content/asecord.png" alt="Logo" />
    </div>


</div>

